@import "../../style.global.less";

#event-title {
    color: white;
}

#event-subtitle {
    color: #BBDEFB;
    margin-left: 2%;
}

#event-jumbotron {
    padding-top: 13vh;
    padding-bottom: 12vh;
    padding-left: 10%;
    background-color: #2196F3; /* primary */
    margin-bottom: 0;
}

#tables-view {
    margin-top: 3vh;
    padding: 0 3% 0 3%; 
}

.list-icon {
    max-width: 10%;
    max-height: 4vh;
    display: inline-block;
}

.table-float-right {
    position: relative;
    right: 10%;
}

.table-timer, .table-name{
    display: inline-block;
}