<div id="event-jumbotron" class="jumbotron">
  <div class="container">
    <h1 id="event-title">
      {{event.name}}<br>
      <small id="event-subtitle">{{ event.start | date:"EEEE, d/M/y"}}</small>
      <!--<small id="event-subtitle">{{event.start.getDay()}}, {{ event.start.getDate() }}/{{event.start.getMonth()}}/{{event.start.getFullYear()}}</small>-->
    </h1>
  </div>
</div>
<section id="tables-view">
  <h3>Tables</h3>
  <!--<button type="button" class="btn btn-default table-float-right">Default</button>-->
  <div class="list-group">
    <a  class="table-list-item list-group-item" *ngFor="let table of event.tables" [routerLink]="['/table',table.Id]">
      <img src="../../assets/vectors/billiard.svg" class="list-icon">
      <h4 class="table-name list-group-item-heading">{{ table.name }}</h4>
      <span class="table-link glyphicon glyphicon-new-window"></span>
      <br>
      <span *ngIf="table.isOpen" class="table-status label label-success">Open</span>
      <span *ngIf="!table.isOpen" class="table-status label label-default">Closed</span>

      <span>
      <img src="../../assets/vectors/coins.svg" class="list-icon">
        <bill [interval]=1000 [table]=table ></bill>
      </span>
      <span >
      <img src="../../assets/vectors/clock.svg" class="list-icon">
      <timer [interval]=1000 [start]="table.start" [difference]=true [active]=table.isOpen></timer>
      </span>
      <img src="../../assets/vectors/player.svg" class="list-icon">
      <span> {{ calculatePlayersOnTable(table) }}</span>
    </a>
  </div>
</section>