<section id="body-wrapper" *ngIf="event">
    <div class="jumbotron">
        <div class="container">
            <a [routerLink]="['../']" class="back-button">
        <img src="../../assets/vectors/back-arrow.svg" class="list-icon"> Return to event
      </a>
            <h1 id="jumbotron-title">
                <span>
          {{event.name}}
        </span>
                <br>
                <small id="jumbotron-subtitle">Game Event Bill</small> <br>
                <small id="jumbotron-subtitle">{{ event.start | date:"EEEE, d/M/y"}}</small>
            </h1>
        </div>
    </div>
    <section id="tip-view" class="page-section">
        <h3>Tip</h3>
        <form #tipForm="ngForm">
            <div class="form-group has-feedback" [ngClass]="{'has-success': tip.valid, 'has-error': !tip.valid}">
                <div class="input-group">
                    <span class="input-group-addon">%</span>
                    <input type="number" pattern="^[0-9]\d*(\.\d+)?$" autofocus class="form-control" id="tip" [(ngModel)]="tipPercentage" name="tip"
                        #tip="ngModel" required>
                </div>
                <span class="glyphicon glyphicon-ok form-control-feedback" *ngIf="tip.valid" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-remove form-control-feedback" *ngIf="!tip.valid" aria-hidden="true"></span>
            </div>
        </form>
    </section>
    <hr>
    <section id="info-view" class="page-section">
        <h3>Info</h3>
        <div class="horizontal-list horizontal-list-centered text-center">
            <div class="col-xs-4">
                <h2>{{ event.tables.length }}</h2>
                <h4>Tables</h4>
            </div>
            <div class="col-xs-8">
                <h2>
                    <timer [interval]=1000 [start]="event.start" [end]="event.end" [difference]=true [active]="!event.end" [displayDays]="true"></timer>
                </h2>
                <h4>Time Playing</h4>
            </div>
            <div class="col-xs-8">
                <h2 class="text-success">
                    <bill [interval]=1000 [event]=event [tip]="tipPercentage"></bill>
                </h2>
                <h4>Total Bill</h4>
            </div>
            <div class="col-xs-4">
                <h2> {{ event.players.length }}</h2>
                <h4>Players</h4>
            </div>
        </div>
    </section>
    <hr>
    <section id="info-view" class="page-section">

        <h3>Player Bills</h3>
        <h4 class="text-center" *ngIf="event.players.length === 0"> Nothing to show. </h4>
        <accordion>
            <accordion-group *ngFor="let player of event.players" #group [isOpen]="latestPlayerIdAdded === player.Id" [panelClass]="panelClass">
                <div accordion-heading>
                    <i class="pull-rigt float-xs-right glyphicon" [ngClass]="{'glyphicon-chevron-down' : group?.isOpen, 
                    'glyphicon-chevron-right' : !group?.isOpen}"></i>
                    <img src="../../assets/vectors/player.svg" class="list-icon">
                    <h4 class="inline-heading list-group-item-heading">{{ player.name }}</h4>
                    <span>
                        <img src="../../assets/vectors/coins.svg" class="list-icon">
                        <bill [interval]=1000 [player]=player [event]=event [tip]="tipPercentage"></bill>
                    </span>
                </div>
                <section>
                    <h4>Food & Drinks</h4>
                    <div class="fixed-height-list list-group" *ngIf="player.miscItems.length > 0">
                        <a class="list-group-item" *ngFor="let item of player.miscItems">
                                <span>
                                <img src="../../assets/vectors/pint.svg" class="list-icon">
                                <h4 class="inline-heading list-group-item-heading">{{ item.name }}</h4>
                                </span>
                                <span>
                                <img src="../../assets/vectors/coins.svg" class="list-icon">
                                    <bill [bill]="item.price"></bill>
                                </span>
                                <span>
                                <img src="../../assets/vectors/clock.svg" class="list-icon">
                                {{ item.orderDate | date:'HH:mm:ss' }}
                            </span>
                            </a>
                    </div>
                    <h4 class="text-center" *ngIf="player.miscItems.length === 0"> Nothing to show </h4>
                </section>
                <hr>
                <section>
                    <h4>Games</h4>
                    <div class="fixed-height-list list-group" *ngIf="gameCalculator.getTableRecordsForPlayer(player, event).length > 0">
                        <a class="list-group-item" *ngFor="let record of gameCalculator.getTableRecordsForPlayer(player, event)">
                                <img src="../../assets/vectors/billiard.svg" class="list-icon">
                                <h4 class="inline-heading list-group-item-heading">
                                {{ record.table.name }}
                                <small *ngIf="record.table.moveStatus == 1">moved table</small>
                                </h4>
                            <span>
                            <img src="../../assets/vectors/coins.svg" class="list-icon">
                                <bill [tableRecord]="record"></bill>
                            </span>
                            <br>
                            <span>
                                <img src="../../assets/vectors/clock.svg" class="list-icon">
                                <timer [start]="record.start"></timer>
                            </span>
                            <span class="glyphicon glyphicon-arrow-right"></span>
                            <span>
                                <img src="../../assets/vectors/clock.svg" class="list-icon">
                                <timer *ngIf="record.end" [start]="record.end" ></timer>
                                <timer *ngIf="!record.end" [interval]=1000 [active]="!record.end" ></timer>
                            </span>
                            </a>
                    </div>
                    <h4 class="text-center" *ngIf="gameCalculator.getTableRecordsForPlayer(player, event).length === 0"> Nothing to show </h4>
                </section>
                <section>
                    <h4>Dead Time Bill</h4>
                    <bill [displayDeadTimeBill]="true" [event]="event" [player]="player"></bill>
                </section>
                <hr>
                <section>
                    <h4>Subtotal</h4>
                    <h3 class="text-primary">
                        <bill [interval]=1000 [player]=player [event]=event></bill>
                    </h3>
                    <h4>Total After Tip
                        <small>({{ tipPercentage }}%)</small>
                    </h4>
                    <h3 class="text-success">
                        <bill [interval]=1000 [player]=player [event]=event [tip]="tipPercentage"></bill>
                    </h3>
                </section>
            </accordion-group>
        </accordion>
    </section>
</section>