<section id="body-wrapper" *ngIf="event && table">
    <div class="jumbotron">
        <div class="container">
            <a [routerLink]="['../..']" class="back-button">
        <img src="../../assets/vectors/back-arrow.svg" class="list-icon"> Return to event
      </a>
            <h1 id="jumbotron-title">
                <form *ngIf="isEditingName" (ngSubmit)="onChangeName()" #tableNameForm="ngForm">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" (click)="enteredTableName=''; isEditingName=false">Cancel</button>
                        </span>
                        <input type="text" class="form-control" id="name" required [(ngModel)]="enteredTableName" name="name" #name="ngModel">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default" [disabled]="!tableNameForm.form.valid">Change</button>
                        </span>
                    </div>
                </form>
                <span *ngIf="!isEditingName">
          {{table.name}}
          <span class="glyphicon glyphicon-pencil" aria-hidden="true" (click)="isEditingName = true"></span>
                </span>
                <br>
                <small id="jumbotron-subtitle">Table</small>
            </h1>
        </div>
    </div>
    <section id="info-view" class="page-section">
        <h3>Info</h3>
        <div class="horizontal-list horizontal-list-centered text-center">
            <div class="col-xs-5">
                <h2>{{ table.hourlyRate | currency:currencyISOCode:true:'1.2-2' }}</h2>
                <h4>Hourly Rate</h4>
            </div>
            <div class="col-xs-4">
                <h2 *ngIf="table.isOpen" class="text-success">Open</h2>
                <h2 *ngIf="!table.isOpen" class="text-danger">Closed</h2>
                <h4>Status</h4>
            </div>
            <div class="col-xs-3">
                <h2>{{ gameCalculator.calculatePlayersOnTable(table, event) }}</h2>
                <h4>Players</h4>
            </div>
            <div class="col-xs-5">
                <h2>
                    <timer [interval]=1000 [start]="table.start" [difference]=true [active]=table.isOpen [displayDays]="true"></timer>
                </h2>
                <h4>Time Rented</h4>
            </div>
            <div class="col-xs-7">
                <h2>
                    <bill [interval]=1000 [table]=table></bill>
                </h2>
                <h4>Total Bill</h4>
            </div>
        </div>
    </section>
    <hr>
    <section id="tables-view" class="page-section" *ngIf="event">
        <h3>Players</h3>
        <div class="fixed-height-list list-group">
            <a class="list-group-item" (click)="playerPickerModal.show()">+ Add a player</a>
            <a class="list-group-item" *ngFor="let player of gameCalculator.getPlayersOnTable(table, event)">
            <button type="button" class="close pull-right remove-list-item" (click)="onRemovePlayingPlayer(player)" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            <img src="../../assets/vectors/player.svg" class="list-icon">
            <h4 class="inline-heading list-group-item-heading">{{ player.name }}</h4>
            <br>

            <span *ngIf="gameCalculator.isPlayerPlaying(player, event)" class="table-status label label-success">Playing</span>
            <span *ngIf="!gameCalculator.isPlayerPlaying(player, event)" class="table-status label label-default">Resting</span>

            <span>
        <img src="../../assets/vectors/coins.svg" class="list-icon">
            <bill [interval]=1000 [player]=player [event]=event [table]="table"></bill>
        </span>
            <span *ngIf="gameCalculator.isPlayerPlaying(player, event)">
            <img src="../../assets/vectors/billiard.svg" class="list-icon">
            {{ gameCalculator.getPlayingTables(player, event).length }}
        </span>
        </a>
        </div>
        <h4 class="text-center" *ngIf="gameCalculator.getPlayersOnTable(table, event).length === 0">No players to display.</h4>
    </section>

    <!--Add player modal-->
    <div bsModal #playerPickerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="playerPickerModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Add a player</h4>
                    <button type="button" class="close pull-right" (click)="playerPickerForm.resetForm();playerPickerModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                </div>
                <player-picker #playerPickerForm [table]="table" [players]="gameCalculator.getAvailablePlayersForTable(table, event)" [bodyClass]='"modal-body"'
                    [footerClass]='"modal-footer"' (onSubmitEvent)="onPlayerFormSubmitted($event); playerPickerModal.hide()"
                    (onCancelForm)="playerPickerModal.hide()"></player-picker>
            </div>
        </div>
    </div>

</section>