<form (ngSubmit)="onSubmit($event)" #newItemForm="ngForm" *ngIf="event">
    <div [ngClass]="bodyClass">

        <h3>Pick a player</h3>
        <div class="fixed-height-list list-group">
            <a class="player-list-item list-group-item" [ngClass]="{active : player.Id === chosenPlayerId}" *ngFor="let player of players"
                (click)="setChosenPlayer(player)">
       <img src="../../assets/vectors/player.svg" class="list-icon">
            <h4 class="inline-heading list-group-item-heading">{{ player.name }}</h4>
            <br>

            <span *ngIf="gameCalculator.isPlayerPlaying(player, event)" class="table-status label label-success">Playing</span>
            <span *ngIf="!gameCalculator.isPlayerPlaying(player, event)" class="table-status label label-default">Resting</span>

            <span>
        <img src="../../assets/vectors/coins.svg" class="list-icon">
            <bill [interval]=1000 [player]="player" [event]="event" [table]="table"></bill>
        </span>
            <span *ngIf="gameCalculator.isPlayerPlaying(player, event)">
            <img src="../../assets/vectors/billiard.svg" class="list-icon">
            {{ gameCalculator.getPlayingTables(player, event).length }}
        </span>
      </a>
            <h4 class="text-center" *ngIf="players.length === 0">No players to display.</h4>
        </div>

    </div>
    <div [ngClass]="footerClass">
        <button type="submit" class="btn btn-success" [disabled]="chosenPlayerId === -1">Add Item</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="resetForm(); onCancelForm.emit();">Cancel</button>
    </div>
</form>