<section id="body-wrapper" *ngIf="event">
  <div class="jumbotron">
    <div class="container">
      <a [routerLink]="['../..']" class="back-button">
        <img src="../../assets/vectors/back-arrow.svg" class="list-icon"> Return to event
      </a>
      <h1 id="jumbotron-title">
        <form *ngIf="isEditingName" (ngSubmit)="onChangeName()" #playerNameForm="ngForm">
          <div class="input-group">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" (click)="enteredPlayerName=''; isEditingName=false">Cancel</button>
            </span>
            <input type="text" class="form-control" id="name" required [(ngModel)]="enteredPlayerName" name="name" #name="ngModel">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-default" [disabled]="!playerNameForm.form.valid">Change</button>
            </span>
          </div>
        </form>
        <span *ngIf="!isEditingName">
          {{player.name}}
          <span class="glyphicon glyphicon-pencil" aria-hidden="true" (click)="isEditingName = true"></span>
        </span>
        <br>
        <small id="jumbotron-subtitle">Player</small>
      </h1>
    </div>
  </div>
  <section id="misc-items-view" class="page-section" *ngIf="player">
    <h3>Food & Drinks</h3>
    <div class="fixed-height-list list-group">
      <a class="list-group-item" (click)="newItemModal.show()">+ Add a new item</a>
      <a class="list-group-item" *ngFor="let item of player.miscItems">
        <button type="button" class="close pull-right remove-list-item" (click)="onRemoveMiscItem(item)" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <span>
          <img src="../../assets/vectors/pint.svg" class="list-icon">
          <h4 class="inline-heading list-group-item-heading">{{ item.name }}</h4>
        </span>
        <br>
        <span>
          <img src="../../assets/vectors/coins.svg" class="list-icon">
          {{ item.price | currency:currencyISOCode:true:'1.2-2' }}
        </span>
        <span>
          <img src="../../assets/vectors/clock.svg" class="list-icon">
          {{ item.orderDate | date:'HH:mm:ss' }}
      </span>
      </a>
    </div>
    <h4 class="text-center" *ngIf="player.miscItems.length === 0">No items to display.</h4>
  </section>

  <section id="tables-view" class="page-section" *ngIf="event">
    <h3>Tables</h3>
    <div class="fixed-height-list list-group">
      <a class="list-group-item" (click)="tablePickerModal.show()">+ Add a table</a>
      <a class="list-group-item" *ngFor="let tableRecord of gameCalculator.getPlayingTables(player, event)">
        <button type="button" class="close pull-right remove-list-item" (click)="onRemoveTableRecord(tableRecord)" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <img src="../../assets/vectors/billiard.svg" class="list-icon">
        <h4 class="inline-heading list-group-item-heading">{{ tableRecord.table.name }}</h4>
        <br>
        <span *ngIf="tableRecord.table.isOpen" class="table-status label label-success">Open</span>
        <span *ngIf="!tableRecord.table.isOpen" class="table-status label label-default">Closed</span>

        <span>
        <img src="../../assets/vectors/coins.svg" class="list-icon">
          <bill [interval]=1000 [table]=tableRecord.table [player]="player" [event]="event"></bill>
        </span>
        <span>
        <img src="../../assets/vectors/clock.svg" class="list-icon">
        <timer [interval]=1000 [start]="tableRecord.table.start" [difference]=true [active]=tableRecord.table.isOpen></timer>
        </span>
      </a>
    </div>
    <h4 class="text-center" *ngIf="gameCalculator.getPlayingTables(player, event).length === 0">No items to display.</h4>
  </section>



  <!--Add misc. item modal-->
  <div bsModal #newItemModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newItemModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">Add a new item</h4>
          <button type="button" class="close pull-right" (click)="miscItemForm.resetForm();newItemModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <misc-item-form #miscItemForm [bodyClass]='"modal-body"' [footerClass]='"modal-footer"' (onSubmitEvent)="onMiscItemFormSubmitted($event); newItemModal.hide()"
          (onCancelForm)="newItemModal.hide()"></misc-item-form>
      </div>
    </div>
  </div>

  <!--Add table modal-->
  <div bsModal #tablePickerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="tablePickerModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">Add a table</h4>
          <button type="button" class="close pull-right" (click)="tablePickerForm.resetForm();tablePickerModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <table-picker #tablePickerForm [tables]="gameCalculator.getAvailableTablesForPlayer(player, event)" [bodyClass]='"modal-body"'
          [footerClass]='"modal-footer"' (onSubmitEvent)="onTableFormSubmitted($event); tablePickerModal.hide()" (onCancelForm)="tablePickerModal.hide()"></table-picker>
      </div>
    </div>
  </div>

</section>